*.idea
*.iml
/node_modules/
/package.json
/package-lock.json
.vscode
/firebase/files/
.env
.env/
.env/firebase_config.env
env/
ignore

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
